body {
    background-image: url("footer_lodyas.png");
    background-repeat: repeat;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    height: 100vh;
}

h1 {
    color: #FFF;
    font-size: 6vmax;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 30%;
    left: 0;
    right: 0;
    letter-spacing: 0;
    opacity: 0.7;
}

h2 {
    font-weight: 300;
    font-size: 1.8vmin;
    color: #bdc3c7;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 0;
    right: 0;
    letter-spacing: 0px;
    opacity: 0;
}

a {
    text-decoration: none;
    color: #bdc3c7;
}

a:hover {
    color: #95a5a6;
}